*
{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: 0;
}
.block1
{
    background-color: burlywood;
    height: 100px;
}

.block2
{
    background-color: blueviolet;
}

.block3
{
    background-color: cadetblue;
    height: 200px;
}

.block4
{
    background-color: darkred;
    height: 100px;
}

.block5
{
    background-color: darkseagreen;
    height: 100px;
}

.block6
{
    background-color: palegreen;
    height: 300px;
}

.block7
{
    background-color: rgb(191, 214, 191);
    height: 100px;
}

.block8
{
    background-color: rgb(143, 106, 192);
    height: 100px;
}

.block9
{
    background-color: rgb(188, 197, 60);
    height: 100px;
}

.common
{
    background-color: black;
}

.common2
{
    background-color: rgb(197, 176, 176);
}
